@model IEnumerable<DeWay.Models.Order>


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
@{
    int i = 0;
    short[] star = new short[Model.Count()];
    Layout = null;
    short Star = 0;
}

@foreach (var item in Model)
{

    <div class="card">
        <div class="card-header">
            <div>收到的評價</div>
        </div>
        <div class="card-body">
            <div>
                @{ Star = item.Review.FirstOrDefault().rvwStar;
                }

                <div class="star" id="@Star" Stars="@Star" style=" font-size: 30px">

                </div>
                <div>
                    <span>
                        買家 @item.Cart_OrderDetail.FirstOrDefault().Member.MemberAccount.mbrAccount :
                    </span>
                    <h4>
                        @Html.Raw(@Html.DisplayFor(modelItem => item.Review.FirstOrDefault().rvwContent).ToString().Replace("\n", "<br>"))。
                    </h4>
                </div>
            </div>
        </div>

    </div>
}

