@model IEnumerable<DeWay.Models.Refund>

@{
    ViewBag.Title = "rfdIndex";
    Layout = "~/Views/Shared/_Layout - seller.cshtml";
    var rfdProduct = "";
    var rfdShipping = "";
    decimal? total = 0;

}

<h4>退貨/退款</h4>
<div class="col-12">
    <div>
        <ul class="nav nav-tabs nav-fill mb-1">
            <li class="nav-item"><a href="@Url.Action("rfdIndex","SellerHome")" class="nav-link active">全部</a></li>
            <li class="nav-item"><a href="@Url.Action("rfdIndex","SellerHome",new {rfdStatus="審核中" })" class="nav-link">審核中</a></li>
            <li class="nav-item"><a href="@Url.Action("rfdIndex","SellerHome",new {rfdStatus="待退款" })" class="nav-link">待退款</a></li>
            <li class="nav-item"><a href="@Url.Action("rfdIndex","SellerHome",new {rfdStatus="退款成功" })" class="nav-link">已退款</a></li>
            <li class="nav-item"><a href="@Url.Action("rfdIndex","SellerHome",new {rfdStatus="拒絕退款" })" class="nav-link">已拒絕</a></li>
        </ul>

    </div>

    <div class="card">
        <div class="card-header">
            <div class="row col-12">
                <span class="col-2">退貨單號</span>
                <span class="col-2">返還金額</span>
                <span class="col-2">是否退回商品</span>
                <span class="col-2">是否由賣家負擔運費</span>
                <span class="col-2">退貨單成立時間</span>
                <span class="col-2">
                    @if (@ViewBag.status != "審核中")
                    {
                        <span class="col-2">
                            退貨單狀態
                        </span>
                    }
                    else
                    {
                        <span class="col-2">
                            審核
                        </span>

                    }

                </span>
            </div>
        </div>
        @if (Model.Count() == 0)
        {<div>找不到退貨單</div>}
        else
        {
            foreach (var item in Model)
            {

                <div class="card-body">
                    <div class="row col-12">
                        @foreach (var i in item.Order.Cart_OrderDetail)
                        {

                            var subtotal = (decimal)((int)i.pdtPrice * i.Discount * i.Quantity);


                            total += subtotal;
                        }

                        @{
                            string newtotal = total.ToString();
                          
                        }

                        <span class="col-2">@item.rfdID</span>
                        <span class="col-2">@newtotal</span>
                        <span class="col-2">
                            @{
                                rfdProduct = item.rfdProduct == true ? "O" : "X";
                            }
                            @rfdProduct
                        </span>
                        <span class="col-2">
                            @{
                                var a = item.rfdShip.ToString();
                                rfdShipping = item.rfdShipping == true ? a : "X";
                            }
                            @rfdShipping

                        </span>
                        <span class="col-2">@item.rfdDate</span>
                        <span class="col-2">
                            @if (item.rfdStatusID == "rds0000001")
                            {
                                @Html.ActionLink("同意", "rfd", new { odrID = item.odrID, code = 1 }, new { @class = "btn btn-info " })
                                @Html.ActionLink("拒絕", "rfd", new { odrID = item.odrID, code = 2 }, new { @class = "btn btn-danger " })
                            }
                            else
                            {
                                @item.RefundStatus.rfdStatus
                            }
                            @Html.ActionLink("退貨單明細", "rfdDetail", new { rfdID = item.rfdID}, new { @class = "btn btn-info " })

                        </span>
                    </div>
                </div>


            }
        }

    </div>

</div>