@model DeWay.Models.Seller

@{
    ViewBag.Title = "selEdit";
    Layout = "~/Views/Shared/_Layout - seller.cshtml";
}

<h2 class="offset-3">修改個人資料</h2>


@using (Html.BeginForm("selEdit", "SellerHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal offset-3">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.mbrID)

        <div class="form-group">
            @Html.LabelFor(model => model.selCompany, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.selCompany, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.selCompany, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.selCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.selCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.selCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.selDist, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.selDist, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.selDist, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.selAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.selAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.selAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.selInfo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.selInfo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.selInfo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            <input name="GUINumber" type="text" hidden="hidden" value="@Model.GUINumber" />
            <input name="IDNumber" type="text" hidden="hidden" value="@Model.IDNumber" />

            @Html.HiddenFor(model => model.selID)

            @Html.HiddenFor(model => model.selImage)
            <div>
                @if (Model.selImage == null || Model.selImage == "")
                {
                    <a href="~/mbrPhoto/0.jpg"><img src="~/sellerImage/sel0000000.jpg" class="ml-3 img-adjust-index" /></a>
                }
                else
                {
                    <a href="~/sellerImage/@Model.selImage"><img src="~/sellerImage/@Model.selImage" class="ml-3 img-adjust-index" /></a>

                }
            </div>
            <div>
                <input id="File1" type="file" name="Image" class="btn btn-defaut ml-3 " />
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="更改資料" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="offset-3 mb-5">

    @Html.ActionLink("返回個人資料", "OrderIndex")

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
