@model DeWay.Models.actBulletin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>actBulletin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pdtID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pdtID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actStrDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actStrDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actDisplay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actDisplay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adm.admName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adm.admName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.actID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
