@model IEnumerable<DeWay.Models.WishList>
    

@{
    ViewBag.Title = "Index";
}

    <h2 class="mb-3" id="cart_title">@Html.DisplayFor(m => m.ToList()[0].Member.mbrName)的慾望清單</h2>

@*<@*p>
    @Html.ActionLink("繼續購物", "goshopping");
</p>*@
<table class="table">
    <tr>
        <th>商品</th>
        <th>
                   
            @*@Html.DisplayNameFor(model => model.Member.mbrName)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Product.selID)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @*@item.pdtID*@
                        @*@Html.ActionLink($"{item.Product.pdtName}", "productPage", "product", new { pdtID = item.pdtID }, new { })*@
                @Html.ActionLink($"{item.Product.pdtName}","productPage","product",new { pdtID=item.pdtID},new { })
                    </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Member.mbrName)*@
                @*@Html.ActionLink($"{item.Product.pdtName}","productPage","product",new {pdtID =item.pdtID },new { })*@
            </td>
            <td>
                
                @*@Html.DisplayFor(modelItem => item.Product.selID)*@
            </td>

            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.wishID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.wishID })*@ |
                @Html.ActionLink("刪除", "Delete", new { id = item.wishID })
            </td>

        </tr>
    }

</table>

