<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DeWay 設計之路</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DeWayWebHome.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/DeWayMemberHome.css" rel="stylesheet" />

    @RenderSection("CSS", false)
</head>

<body class="body">



    <header>
        @*導覽列*@
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <div class="container">

                @*<a class="navbar-brand" href="#">DeWay</a>*@

                @Html.ActionLink("DeWay", "Index", "Home", new { }, new { @class = "navbar-brand DeWay" })


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse bg-light" id="navbarToggleExternalContent">

                    <form class="form-inline" method="post" action="@Url.Action("Index","SearchForLayout")">

                        <input class="form-control mr-sm-1 " type="search" placeholder="搜尋所有商品" aria-label="Search" name="ProductName">
                        <button class="btn btn-outline-secondary my-1 my-sm-0 ml-auto" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav ml-2 ">
                        @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                所有分類
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @Html.ActionLink("配件飾品", "GetCategory", "SearchForLayout", new { category = "fst0000001" }, new { @class = "nav-link" })
                                @Html.ActionLink("居家生活", "GetCategory", "SearchForLayout", new { category = "fst0000002" }, new { @class = "nav-link" })
                                @Html.ActionLink("包包提袋", "GetCategory", "SearchForLayout", new { category = "fst0000003" }, new { @class = "nav-link" })
                                @Html.ActionLink("衣著良品", "GetCategory", "SearchForLayout", new { category = "fst0000004" }, new { @class = "nav-link" })
                                @Html.ActionLink("文具卡片", "GetCategory", "SearchForLayout", new { category = "fst0000005" }, new { @class = "nav-link" })
                                @Html.ActionLink("鞋類", "GetCategory", "SearchForLayout", new { category = "fst0000006" }, new { @class = "nav-link" })

                            </div>
                        </li>*@

                        <li class="nav-item">
                            <a class="nav-link" href="#">如何開間設計館</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" href="#"></a>
                            </li>*@


                        <li class="nav-item ">



                            @if (Session["memberID"] == null)
                            {
                                @Html.ActionLink("登入", "Login", "login", new { }, new { @class = "nav-link" })
                            }
                            else
                            {
                                @Html.ActionLink("登出", "Logout", "login", new { }, new { @class = "nav-link" })
                            }

                        </li>

                    </ul>

                    <ul class="navbar-nav ml-auto">



                        <li>
                            <a style="width:48px;height:40px" class="nav-link " href="@Url.Action("SellerCreate","SellerCertification")"><img src="~/images/img-shop-4.png" style="width:50%" /></a>
                        </li>
                        <li>
                            <a style="width:48px;height:40px" class="nav-link " href="@Url.Action("myCart","Cart")"><img src="~/images/Img-shopping-cart-12.png" style="width:50%" /></a>
                        </li>
                        <li>
                            <a style="width:48px;height:40px" class="nav-link " href="@Url.Action("Index","WishLists")"><img src="~/images/Img-like-8.png" style="width:50%" /></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a style="width:48px;height:40px" class="nav-link " href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/images/img-user-15.png" style="width:50%" /></a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink2">
                                @Html.ActionLink("個人名片", "mbrIndex", "MemberHome", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink("會員中心", "odrIndex", "MemberHome", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink("商品收藏", "Index", "WishLists", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink("帳號設定", "pwdEdit", "MemberHome", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink("通知中心", "IndexForMember", "ntfRecordsAdm", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink("開設計館", "SellerCreate", "SellerCertification", new { }, new { @class = "dropdown-item" })

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a style="width:48px;height:40px" class="nav-link " href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/images/Img-settings-11.png" style="width:50%" /></a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink3">
                                @Html.ActionLink("商品上架", "Create", "Product_create", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink("賣家中心", "OrderIndex", "SellerHome", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink("賣場設定", "selEdit", "SellerHome", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink("我的賣場", "Index", "Market", new { }, new { @class = "dropdown-item" })

                            </div>
                        </li>

                    </ul>
                </div>

            </div>

        </nav>
    </header>




    @*<div class="navbar navbar-expand-lg  bg-dark navbar-dark">
            <div class="container ">
                @Html.ActionLink("DeWay", "Index", "Home", new { }, new { @class = "navbar-brand text-white" })

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white">Home</a>
                        </li>
                        <li>
                            @Html.ActionLink("登出", "Logout", "login", new { }, new { @class = "nav-link text-white" })
                        </li>
                        <li>
                            @Html.ActionLink("登入", "Login", "login", new { }, new { @class = "nav-link text-white" })
                        </li>
                        <li>
                            @Html.ActionLink("購物車", "mycart", "cart", new { id = Session["memberID"] }, new { @class = "nav-link text-white" })
                        </li>
                        <li>
                            @Html.ActionLink("賣場管理", "index", "ProductManage", new { id = Session["memberID"] }, new { @class = "nav-link text-white" })
                        </li>
                        <li>
                            @Html.ActionLink("會員首頁", "mbrIndex", "MemberHome", new { id = Session["memberID"] }, new { @class = "nav-link text-white" })
                        </li>

                    </ul>
                </div>
            </div>
        </div>*@
    <div class="content mt-5">

        <div class="@*container*@ @*body-content*@ content-inside">
            <div class="row">

                <div class="col-2 offset-1 ">
                    <ul class="nav flex-column dropdown">
                        個人資訊

                        <li class="nav-item d-nav">@Html.ActionLink("修改個人基本資料", "mbrEdit", "MemberHome", new { id = Session["memberID"] }, new { @class = "nav-link text-black m-li" })</li>
                        <li class="nav-item d-nav">@Html.ActionLink("變更密碼", "pwdEdit", "MemberHome", new { id = Session["memberID"] }, new { @class = "nav-link text-black m-li " })</li>
                        

                    </ul>
                    <ul class="nav nav-pills flex-column">
                        訂單
                        <li class="nav-item d-nav">@Html.ActionLink("檢視訂單", "odrIndex", "MemberHome", new { }, new { @class = "nav-link  text-black m-li" })</li>
                        <li class="nav-item d-nav">@Html.ActionLink("檢視退貨", "rfdIndex", "MemberHome", new { }, new { @class = "nav-link  text-black m-li" })</li>
                    </ul>
                    <ul class="nav flex-column">
                        評價
                        <li class="nav-item d-nav">@Html.ActionLink("檢視評價", "rvwIndex", "MemberHome", new { }, new { @class = "nav-link text-black m-li" })</li>
                    </ul>
                    <ul class="nav nav-pills flex-column">
                        問與答
                        <li class="nav-item d-nav">@Html.ActionLink("檢視問與答", "QAIndex", "MemberHome", new { code = 0 }, new { @class = "nav-link  text-black m-li" })</li>
                    </ul>


                </div>
                <div class="col-7">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>    <footer class="footer-1 bg-light text-center">

        <div class="jumbotron bg-light">
            DeWay
        </div>

    </footer>
    @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("Script", false)
<script src="~/Scripts/CoverMissingProductImages.js"></script>
</body>
</html>

