@model DeWay.Models.QA

@if (Session["memberID"] != null)
{
    using (Html.BeginForm("CreateQA", "QAs", FormMethod.Post, new { id = "createQAForm" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal card cardCreateQA">
        
       
        

        <div class="form-group">
            <div class="createQAText">
                我要發問:
            </div>
            @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label " })
            <div>
                @Html.TextAreaFor(model => model.Question, htmlAttributes: new { @class = "QATextArea " })
            </div>
        </div>
        @Html.HiddenFor(m => m.pdtID, new { @Value = ViewBag.productID })

        <div class="form-group">
            <div class="">
                <input id="qaSubmitBtn" type="button" value="送出" class="btn ProductbtnB" />
            </div>
        </div>
    </div>
    }

}
else
{
<div class="form-horizontal card cardCreateQA ">
    <div class="createQAText">
        請先登入即可發問
    </div>
    
    
    <div class="row d-flex justify-content-between createBtnA">
        @Html.ActionLink("點我登入", "login", "login", null, htmlAttributes: new { @class = "btn ProductbtnB" })
    </div>
    
</div>
}