@model List<DeWay.Models.QA>

<div id="qaSection">
    <span id="forgeryToken">@Html.AntiForgeryToken()</span>

    @foreach (var qa in Model)
    {
        if (qa.displayStatus == true || (string)Session["memberID"] == qa.mbrID)
        {
            <div class="card cardQA cardQAB  mb-3">
                <div class="card-header bg-transparent cardQA">@ViewBag.memberNames[qa.mbrID]</div>
                <div class="card-body text-success">
                    <p class="card-text">@Html.Raw(@qa.Question.Replace("\n", "<br>"))</p>
                    <hr />

                    @if (@qa.Answer != null)
                    {
                        <p class="card-text text-primary">@Html.Raw(@qa.Answer.Replace("\n", "<br>"))</p>
                    }
                    else
                    {
                        <span class="card-text text-danger"> 店家目前尚未回覆 </span>
                        if (qa.Product.selID == ViewBag.sellID)
                        {
                            <form class="form-horizontal" method="post" action="@Url.Action("replyMessage","QAs")">
                                <textarea name="Answer" id="Text1"></textarea>
                                <input name="qaID" type="text" hidden="hidden" value="@qa.qaID" />
                                <span><input id="Submit1" type="submit" value="回覆" class="btn btn-warning" onclick="return confirm('確定發送?')" /></span>
                            </form>
                        }
                    }

                </div>
                <div class="card-footer bg-transparent cardQA cardQAC">@qa.qaTime</div>
            </div>
        }
    }
</div>