@model IEnumerable<DeWay.Models.Cart_OrderDetail>
@{
    int count = 0;
    IEnumerable<DeWay.Models.Cart_OrderDetail> selectBySelID = Model.OrderBy(m => m.Specification.Product.selID);
    string sellerIDCheck = "";
}

@if (Model.Count()==0)
{
    <h3>購物車目前沒有商品</h3>
}
@foreach (DeWay.Models.Cart_OrderDetail item in selectBySelID)
{
    if (item.Specification.Product.selID != sellerIDCheck)
    {
        //創造卡片
        sellerIDCheck = item.Specification.Product.selID;
        string sellerCompany = item.Specification.Product.Seller.selCompany;

        <div class="card mb-3" style="max-width: 700px;">
            <div class="card-header">
                <div class="nav nav-pills card-header-pills">
                    <div class="w-25 form-inline">
                        <div class=" ml-2">@sellerCompany</div>
                    </div>
                </div>
            </div>

            @foreach (DeWay.Models.Cart_OrderDetail product in selectBySelID)
            {
                if (product.Specification.Product.selID == sellerIDCheck)
                {
                    <div id="no_@count" class="row no-gutters">
                        <div class="col-md-1 m-auto text-center">
                            <input type="checkbox"
                                   onclick="changeChckeStatus(checkStatus,@count)"
                                   style="width:20px">
                        </div>
                        <div class="col-md-3 text-center my-auto">
                            @*<img src="~/images/diamond-4229493_960_720.jpg" class="card-img" alt="圖片消失了" />*@
                            <img src="~/productImage/@product.Specification.Product.ProductImage.FirstOrDefault().pdtImage" class="card-img" alt="圖片消失了" />
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <a class="card-title  text-decoration-none" style="font-size:20px;" href="@Url.Action("ProductPage","ProductPage",new { pdtID=$"{product.Specification.pdtID}"})">@Html.DisplayFor(modelItem => product.Specification.Product.pdtName)</a>
                                <p class=" mt-2" style="font-size:23px;color: #ff9797">NT$ <span id="price_@count">@Convert.ToInt32(product.Specification.Price) </span></p>
                                <p class="card-text">
                                    規格：

                                    @Html.DisplayFor(modelItem => product.Specification.Size)
                                    @Html.DisplayFor(modelItem => product.Specification.Style)
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body h5">
                                <p class="text-primary mb-4 ">
                                    <span class="mb-3" style="font-size:15px;">選購數量：</span>
                                    <select style="width:200px" id="count_@count" spcID="@product.spcID" class="quantitySelect">
                                        @for (int i = 1; i <= product.Specification.Stock; i++)
                                        {
                                            <option value="@i"
                                                    @{ if (i == product.Quantity) { @("selected")  } }>
                                                @i
                                            </option>
                                            if (i >= 20) { break; }
                                        }
                                    </select>
                                </p>
                                <p class="text-secondary">
                                    @*折扣：    @Html.DisplayFor(modelItem => product.Discount)<br />
            點數使用：    @Html.DisplayFor(modelItem => product.usedPoints)<br />*@
                                </p>
                                <span class="mb-3 text-primary" style="font-size:15px;">運送方式：</span>
                                <select id="shipSelect_@count" style="width:200px">

                                    @foreach (var item1 in product.Specification.Product.ShipperDetail)
                                    {
                                        <option>@item1.Shipper.shpMethod</option>
                                    }


                                </select>
                            </div>
                            <div class="cartID" style="display:none">@product.cartID</div>
                        </div>
                        <div class="col-md-1 m-auto">
                            <a class="btn btn-outline-secondary align-content-around btn-sm" onclick=" return confirm('確定要刪除嗎?')" href="@Url.Action("Delete", "Cart", new { cartID = product.cartID, mbrID = product.mbrID })">&times;</a>
                        </div>
                    </div>
                    count++;
                }

            }

        </div>
    }
}