@model IEnumerable<DeWay.Models.Cart_OrderDetail>

@{
    ViewBag.Title = "我的購物車";
}
@*TODO: 後端驗證阻擋：收件人地址*@

<div class="container">


    <div class="mb-3" id="cart_title" style="font-size:23px;">@Html.Raw(ViewBag.memberName) 。 購物車</div>
    <div class="row">
        <div class="col-8">
            @Html.Partial("_CartCard", Model)
        </div>
        <div class="col-4">
            <div class="sticky-top" style="z-index:0">
                <div class="card ">
                    <div class="card-header">
                        訂單摘要
                    </div>
                    <div class="card-body">
                        <p class="card-text h3">商品總計：<span id="priceTotal">NT$ 0</span></p>
                        @*<p class="card-text">運費總計：<span id="shpTotal">NT$ 0</span></p>*@
                        @*<a href="">使用優惠券、紅利或禮物卡</a>*@
                        <hr />
                        <button id="checkOutBtn" class="btn btn-warning btn-block">前往結帳</button>
                    </div>
                </div>
                <div id="receiverInfo" class="card mt-2" style="display: none">
                    <div class="card-header">
                        收件資訊
                    </div>
                    <div class="card-body">
                        <button class="btn btn-info btn-block" data-toggle="modal" data-target="#exampleModalCenter">請填寫收件人與購買人資料</button>
                        <p id="receiverBoard" class="card-text"></p>
                        <label for="">給設計師的訊息或注意事項</label>
                        <textarea id="note" value="" placeholder="給設計師的訊息或注意事項" class="form-control" cols="2" rows="2"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">收件人與購買資料</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstOrDefault().Member.Review.FirstOrDefault().Order.recName, new { @class = "control-label col-12" })
                        <div class="col-md-10">
                            @Html.Editor("recName", new { @class = "form-control " })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstOrDefault().Member.Review.FirstOrDefault().Order.recPhone, new { @class = "control-label col-12" })
                        <div class="col-md-10">
                            @Html.Editor("recPhone", new { @class = "form-control " })
                        </div>
                    </div>
                    <div class="form-group ">
                        @Html.Label("商品寄往", new { @class = "control-label col-12 h5" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstOrDefault().Member.Review.FirstOrDefault().Order.recCity, new { @class = "control-label col-12" })
                        <div class="col-md-10">
                            @Html.Editor("recCity", new { @class = "form-control " })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstOrDefault().Member.Review.FirstOrDefault().Order.recDist, new { @class = "control-label col-12" })
                        <div class="col-md-10">
                            @Html.Editor("recDist", new { @class = "form-control " })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstOrDefault().Member.Review.FirstOrDefault().Order.recAddress, new { @class = "control-label col-12" })
                        <div class="col-md-10">
                            @Html.Editor("recAddress", new { @class = "form-control " })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <button id="updateAddress" type="button" class="btn btn-primary" onclick="updateAddressToForm()" data-dismiss="modal">儲存</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    @using (Html.BeginForm("receiveOrder", "Cart", FormMethod.Post, new { id = "checkOutForm" }))
    {

    }







</div>










@section Script{

    <script>
        function updateAddressToForm() {//顯示收件人資料
            var displayAddress = "";
            $(`div[class="modal-content"] input`).each((i, e) => {
                displayAddress += `<dt>${$(e).parent().prev().text()}:</dt><dd>${$(e).val()}</dd>`;
            });
            $(`#receiverBoard`).html(displayAddress);
        }
    </script>
    <script>
        var checkStatus = [];//利用陣列存取誰被點選

        $().ready(() => {
            initCheckStatus();
            updateTotalPrice(checkStatus);
            soldOutAlert();
        });
        function soldOutAlert() {
            @if(ViewBag.boolSoldOut == true)
            {
                @Html.Raw("alert('部分商品已售罄，已從購物車移除')")
            }
        }
        function initCheckStatus() {//初始化陣列
            checkStatus = [];
            $(`input[type="checkbox"]`).each((index,e) => {
                if ($(e).is(":checked")) {
                    checkStatus.push(true);
                } else {
                    checkStatus.push(false);
                }
            });
            console.log(checkStatus);
        }

        //點選其中一個商品後，改變checkStatus
        function changeChckeStatus(arr, index) {
            arr[index] = $(event.target).is(":checked") == true ? true : false;
            updateTotalPrice(arr);//點選後更新訂單摘要
        }


        //quantitySelect
        //改比商品數量 勾選該商品 變更checkStatus
        $(`.quantitySelect`).change((e) => {
            var checkBox = $(e.target).closest('div[id^="no"]').find('input[type="checkbox"]')[0]
            if (checkBox.checked)
                updateTotalPrice(checkStatus);
            else
                checkBox.click();
        });

        $(`#checkOutBtn`).click(() => {
            //改變結帳按鈕狀態
            if (checkStatus.indexOf(true) == -1) {
                alert(`請先勾選想買商品`);
            } else {
                checkOut()
            }
        });
        //更新訂單摘要
        function updateTotalPrice(arr) {
            var price, count, totalPrice = 0;
            for (i = 0; i < arr.length; i++) {
                if (arr[i] == true) {
                    //獲取被點選商品的價格與數量
                    price = parseInt($("#price_" + i).text());
                    count = parseInt($("#count_" + i).val());
                    //相乘後計算總價
                    totalPrice += price * count;
                }
            }
            //在欄位顯示總價
            $("#priceTotal").text("NT$ " + totalPrice);
        }
    </script>
    <script>
        $("#backToCart").hide()//從結帳畫面改回購物車畫面

        var title = $(`#cart_title`).text()
        //反回購物車列表
        function backToCart() {
            $(`div[class='card mb-3']`).show()
            $("div[id^='no']").show(100)
            $("#backToCart").hide(100);//隱藏按鈕
            //$("#checkOutBtn").text("前往結帳").attr("onclick", "")
            $("#checkOutBtn").text("前往結帳").off().on("click", () => { checkOut() })
            $("input[type='checkbox'],a[href*='Delete']").show(100)
            $("#checkOutForm").html('')
            $(`#receiverInfo`).hide(100)
            $(`#cart_title`).text(title)
        }
        //調整商品數量


        //前往結帳
        function checkOut() {//鎖定購物車，頁面改成結帳頁面
            if ($("#backToCart").length == 0) {//加入回購物車按鈕
                $(`<button class="btn btn-dark mb-2" onclick="backToCart()" id="backToCart">&lt&lt返回購物車</button>`).insertAfter("#cart_title")
            }
            $(`div[class='card mb-3']`).hide()
            $(`div[class*='no']`).hide()
            checkStatus.forEach((value, index) => {//顯示為false的按鈕
                if (value == true) {
                    //$(`#no_${index}`).show().parent().show();
                    $(`#no_${index}`).show().parent().show();
                }
            })
            $("input[type='checkbox'],a[href*='Delete']").hide(100)
            $("#backToCart").show(100)
            //$("#checkOutBtn").text("確認付款").attr("onclick", "submitOrder()")
            $("#checkOutBtn").text("確認付款").one("click", () => { submitOrder() })
            $(`#receiverInfo`).show(100)
            $(`#cart_title`).text("填寫地址與付款")
        }

        //提交訂單
        function submitOrder() {

            var cartResult = "";
            for (i = 0; i < checkStatus.length; i++) {//取得被點選的商品編號
                cartResult += `<input type="hidden" name="cartID[${i}]" value="${checkStatus[i] ? $('.cartID')[i].innerText : false}">`;
                cartResult += `<input type="hidden" name="shipSelect[${i}]" value="${$('#shipSelect_' + i + ' option:selected').text()}">`;
                cartResult += `<input type="hidden" name="quantity[${i}]" value="${$('#count_' + i).val()}">`;
            }

            var reciverFormResult = "";//取得收寄人資料做成表單內容

            $(`div[class="modal-content"] input`).each((index, e) => {
                reciverFormResult += `<input type="hidden" name="${$(e).attr('name')}" value="${$(e).val()}">`;
            })

            var note = `<input type="hidden" name="odrNote" value="${$('#note').val()}">`//取得給賣家的註解
            var finalResult = cartResult + reciverFormResult + note;
            $("#checkOutForm").html(finalResult)//將被點選商品加入表單
            var flagEmpty = false;
            var messageEmpyt = "";
            $(`div[class="modal-content"] input`).each((index, e) => {
                if ($(e).val() == "") {
                    flagEmpty = true;
                    messageEmpyt += "\n" + $(e).parent().parent().children("label").text() ;
                };
            })
            if (flagEmpty) {
                alert("請先填寫收件人資料" + messageEmpyt);
            } else {
                $("#checkOutForm").submit();//提交表單
            }
        }

    </script>
    <script>
                                //M
                                //JSON 資料 {cartItem:[{cartID:"",count:"",price:""}],order:{address,name,phone}
                                //


                                //V
                                //showTotalPrice
                                //

                                //C
                                //CheckBtn =>{add to cartItem; showTotalPrice}
                                //ChangeBtn=> add
    </script>
}
@section CSS{
    <style>
        input[type="checkbox"] {
            cursor: pointer;
            background: #34495E;
            border-radius: 1px;
            box-sizing: border-box;
            position: relative;
            box-sizing: content-box;
            width: 300px;
            height: 30px;
            border-width: 0;
            transition: all .3s linear;
        }

            input[type="checkbox"]:checked {
                background-color: #2ECC71;
            }

            input[type="checkbox"]:focus {
                outline: 0 none;
                box-shadow: none;
            }
    </style>
}
