@model DeWay.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pdtName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pdtName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pdtDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pdtDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pdtDescribe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pdtDescribe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discontinued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discontinued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory.fstLayerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory.fstLayerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller.selCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.selCompany)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pdtID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
