@model IEnumerable<DeWay.Models.Product>

@{
    ViewBag.Title = "Index";
}
    <div class="container">
        <h2>商品管理</h2>

        @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
        <p>
            @using (Html.BeginForm())
            {
            <p>
                Title:@Html.TextBox("searchString")
                <input id="Submit1" type="submit" value="查詢" class="btn btn-primary" />
            </p>
        }

            </p>

            <table class="table">
                <tr>
                    <th>
                        商品名稱
                    </th>
                    <th>
                        上架日期
                    </th>
                    <th>
                        商品描述
                    </th>
                    <th>
                        是否上架
                    </th>
                    <th>
                        第一層分類
                    </th>
                    <th>
                        賣家公司名稱
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.pdtName)
                        </td>
                        <td>
                            @item.pdtDate.ToShortDateString()
                            @*@Html.DisplayFor(modelItem => item.pdtDate)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pdtDescribe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discontinued)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCategory.fstLayerID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seller.selCompany)
                        </td>
                        <td>
                            @Html.ActionLink("編輯是否上架", "Edit", new { id = item.pdtID }) |
                            @Html.ActionLink("詳細資料", "Details", new { id = item.pdtID })
                            @*@Html.ActionLink("Delete", "Delete", new { id=item.pdtID })*@
                        </td>
                    </tr>
                }

            </table>
            <div>
                @Html.ActionLink("回到前一頁", "Index", "AdmCenter")
            </div>
        </div>