@model DeWay.Models.Order

@{
    ViewBag.Title = "Details";
            Layout = "~/Views/Shared/_Layout - Adm.cshtml";

}
    <div class="container">
        <h2>詳細資料</h2>

        <div>
            <h4>訂單</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    收件人姓名
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.recName)
                </dd>

                <dt>
                    市
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.recCity)
                </dd>

                <dt>
                    區
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.recDist)
                </dd>

                <dt>
                    地址
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.recAddress)
                </dd>

                <dt>
                    收件人電話
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.recPhone)
                </dd>

                <dt>
                    付款日期
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pmtDate)
                </dd>

                <dt>
                    訂單日期
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.odrDate)
                </dd>

                <dt>
                    出貨日期
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.shpDate)
                </dd>

                <dt>
                    訂單備註
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.odrNote)
                </dd>

                <dt>
                    託運單號
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.traceNumber)
                </dd>

                <dt>
                    第三方金流單號
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cashFlowID)
                </dd>

                <dt>
                    訂單狀態
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OrderStatus.odrStatus)
                </dd>

                <dt>
                    付款方式
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentMethod.pmtMethod)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("編輯", "Edit", new { id = Model.odrID }) |
            @Html.ActionLink("回到前一頁", "Index")
        </p>
    </div>