@model IEnumerable<DeWay.Models.actBulletin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            商品編號
        </th>
        <th>
            開始時間
        </th>
        <th>
            結束時間
        </th>
        <th>
            照片
        </th>
        <th>
            顯示狀態
        </th>
        <th>
            管理員
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pdtID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actStrDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adm.admName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.actID }) |
            @Html.ActionLink("Details", "Details", new { id=item.actID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.actID })
        </td>
    </tr>
}

</table>
