@model IEnumerable<DeWay.Models.Order>


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
@{
    int i = 0;
    short[] star = new short[Model.Count()];
    Layout = null;
    short Star = 0;
}

<div id="test"></div>

@foreach (var item in Model)
{

    if (item.Review.Count() != 0)
    {
        if (ViewBag.code == 2)
        {
            <div class="card">
                <div class="card-header">
                    <h5>評價</h5>
                </div>
                <div>
                    @{ Star = item.Review.FirstOrDefault().rvwStar;
                    }

                    <div class="star" id="@Star" Stars="@Star" style=" font-size: 30px">

                    </div>
                    @Html.DisplayFor(modelItem => item.Review.FirstOrDefault().rvwContent)
                </div>


            </div>
        }
        else
        {
            star[i] = item.Review.FirstOrDefault().rvwStar;

            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="star col-5" id="@star[i]" Stars="@star[i]" style=" font-size: 30px">

                        </div>
                        <div class="offset-4">
                            @Html.DisplayFor(modelItem => item.Review.FirstOrDefault().rvwTime)
                        </div>
                    </div>

                </div>
                <div class="card-body row">
                    <div class="col-5">
                        <img src="~/images/@Html.Action("getImage", new { id = item.odrID })" style="width:200px" class="img-responsive img-rounded" />
                    </div>
                    <div class="col-7 mt-5">
                        <div class="row">
                            <div class="col-2">
                                To：
                            </div>

                            <div class="col-10">
                                <div>@Html.DisplayFor(modelItem => item.Review.FirstOrDefault().Product.Seller.selCompany)</div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.Review.FirstOrDefault().rvwContent)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <br />
            if (i < Model.Count() - 1)
            {
                i++;
            }
        }
    }
    else
    {

        if (ViewBag.code == 2)
        {
            if (item.odrStatusID == "ods0000006")
            {
                <div class="">
                    <button class="Button btn btn-dark " data-toggle="modal" data-target="#form1">新增評論</button>
                    <input id="odrID" type="hidden" value="@item.odrID" />
                </div>

            }
        }
        else
        {
            <div class="card mb-5">
                <div class="">
                    <span class="d-bg text-white border-radius ">　@Html.DisplayFor(modelItem => item.OrderStatus.odrStatus)　</span>

                    <span class="offset-8"> @Html.DisplayFor(modelItem => item.odrDate)</span>
                </div>
                <div class="card-body row">
                    <div class="col-5">
                        <img src="~/images/@Html.Action("getImage", new { id = item.odrID })" style="width:200px" class="img-responsive img-rounded" />

                    </div>
                    <div class="col-7 mt-5">

                        @Html.DisplayFor(modelItem => item.Cart_OrderDetail.FirstOrDefault().Specification.Product.Seller.selCompany)<hr />
                        <div class="row">
                            <div class="col-8">
                                購買的商品：@Html.DisplayFor(modelItem => item.Cart_OrderDetail.FirstOrDefault().Specification.Product.pdtName)
                            </div>

                            @{
                                if (item.odrStatusID == "ods0000006")
                                {

                                    <button class="Button btn btn-dark col-4 " data-toggle="modal" data-target="#form1">新增評論</button>

                                    <input id="odrID" type="hidden" value="@item.odrID" />
                                }


                            }


                        </div>
                        <div> 付款方式：@Html.DisplayFor(modelItem => item.PaymentMethod.pmtMethod)</div>




                    </div>

                </div>
            </div>

        }
    }
}

@using (Html.BeginForm("rvwCreate", "MemberHome", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="form1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Review</h4>
                    <button data-dismiss="modal" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <input class="odrID" type="hidden" name="odrID" />
                    <div class="form-group">
                        <p>評價內容</p>
                        <div class="col-md-9">
                            <input id="rvwContent" type="text" name="rvwContent" />
                        </div>
                    </div>
                    <div class="form-group">
                        <p>評價等級</p>
                        <div class="col-md-9">
                            <div class="givestars"></div>
                            <input class="rvwStar" type="hidden" name="rvwStar" />
                        </div>
                    </div>
                    <input id="Hidden1" type="hidden" name="code" value="@ViewBag.code" />
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Create" class="btn btn-default Submit" />

                </div>

            </div>

        </div>


    </div>

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/stars.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
