@model IEnumerable<DeWay.Models.Order>


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
@{
    int i = 0;
    short[] star = new short[Model.Count()];
    Layout = null;
    short Star = 0;
}

<div id="test"></div>

@foreach (var item in Model)
{

    if (item.Review.Count() != 0)
    {
        if (ViewBag.code == 2)
        {
            <div class="card">
                <div class="card-header">
                    <h5>評價</h5>
                </div>
                <div>
                    @{ Star = item.Review.FirstOrDefault().rvwStar;
                    }

                    <div class="star" id="@Star" Stars="@Star" style=" font-size: 30px">

                    </div>
                    @Html.Raw(@Html.DisplayFor(modelItem => item.Review.FirstOrDefault().rvwContent).ToString().Replace("\n", "<br>"))
                </div>


            </div>
        }
        else
        {
            star[i] = item.Review.FirstOrDefault().rvwStar;

            <div class="card">
                <div>
                    <span class="d-bg text-white border-radius ">　@Html.DisplayFor(modelItem => item.OrderStatus.odrStatus)　</span>

                    <span class="offset-9"> @Html.DisplayFor(modelItem => item.Review.FirstOrDefault().rvwTime)</span>
                </div>



                <div class="card-body row">
                    <div class="col-4">

                        <a href="@Url.Action("ProductPage","Productpage",new { pdtID=item.Cart_OrderDetail.FirstOrDefault().Specification.pdtID})"> <img src="~/productImage/@Html.Action("getImage", new { id = item.odrID })" class="img-responsive img-rounded img-adjust-index" /></a>
                    </div>
                    <div class="col-8 mt-5">
                        <div class="row align-items-baseline">
                            <div class="col-1">
                                To
                            </div>

                            <div class="col-8  align-items-baseline">
                                <div class="mb-1">
                                    <a href="@Url.Action("Index","Market",new { sellerID=item.Review.FirstOrDefault().Product.selID})">@Html.DisplayFor(modelItem => item.Review.FirstOrDefault().Product.Seller.selCompany)</a>

                                </div>
                                <div>

                                    @Html.Raw(@Html.DisplayFor(modelItem => item.Review.FirstOrDefault().rvwContent).ToString().Replace("\n", "<br>"))
                                </div>


                            </div>
                            <div class="col-3">
                                <div class="star " id="@star[i]" Stars="@star[i]" style=" font-size: 25px ;color:#E4AD22"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <br />
            if (i < Model.Count() - 1)
            {
                i++;
            }
        }
    }
    else
    {

        if (ViewBag.code == 2)
        {
            if (item.odrStatusID == "ods0000006")
            {
                <div class="">
                    <button class="Button btn btn-dark " data-toggle="modal" data-target="#form1">新增評論</button>
                    <input id="odrID" type="hidden" value="@item.odrID" />
                </div>

            }
        }
        else
        {
            <div class="card mb-5">
                <div class="">
                    <span class="d-bg text-white border-radius ">　@Html.DisplayFor(modelItem => item.OrderStatus.odrStatus)　</span>

                    <span class="offset-9 "> @Html.DisplayFor(modelItem => item.odrDate)</span>
                </div>
                <div class="card-body row">
                    <div class="col-5">
                        <a href="@Url.Action("ProductPage","Productpage",new { pdtID=item.Cart_OrderDetail.FirstOrDefault().Specification.pdtID})"> <img src="~/productImage/@Html.Action("getImage", new { id = item.odrID })" class="img-responsive img-rounded img-adjust-index" /></a>

                    </div>
                    <div class="col-7 mt-5">
                        <div>
                            <a href="@Url.Action("Index","Market",new { sellerID=item.Cart_OrderDetail.FirstOrDefault().Specification.Product.selID})">
                                @Html.DisplayFor(modelItem => item.Cart_OrderDetail.FirstOrDefault().Specification.Product.Seller.selCompany)
                            </a>
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-8">
                                購買的商品：@Html.DisplayFor(modelItem => item.Cart_OrderDetail.FirstOrDefault().Specification.Product.pdtName)
                            </div>

                            @{
                                if (item.odrStatusID == "ods0000006")
                                {

                                    <button class="Button btn btn-dark col-4 " data-toggle="modal" data-target="#form1">新增評論</button>

                                    <input id="odrID" type="hidden" value="@item.odrID" />
                                }


                            }


                        </div>
                        <div> 付款方式：@Html.DisplayFor(modelItem => item.PaymentMethod.pmtMethod)</div>




                    </div>

                </div>
            </div>

        }
    }
}

@using (Html.BeginForm("rvwCreate", "MemberHome", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal fade " id="form1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-radius">
                <div class="modal-header d-bg-blue text-white ">
                    <h5>新增評論</h5>
                    <button data-dismiss="modal" class="close">&times;</button>
                </div>
                <div class="modal-body ">
                    <input class="odrID" type="hidden" name="odrID" />
                    <div class="form-group">
                        <p class="text-center">評價內容</p>
                        <div class="text-center">

                            <textarea class="mb-2 textarea-rvw" title="字數請勿超過120字" name="rvwContent" onKeyDown="LimitTextArea(this)" onKeyUp="LimitTextArea(this)" onkeypress="LimitTextArea(this)"></textarea>
                            <br />


                            <span class="btn-text d-optional-btn ">出貨速度快！</span>
                            <span class="btn-text d-optional-btn ">商品品質佳！</span>
                            <span class="btn-text d-optional-btn ">賣家真可愛！</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <p class="text-center">評價等級</p>
                        <div class="text-center">
                            <div class="givestars " style="font-size:25px"></div>
                            <input class="rvwStar" type="hidden" name="rvwStar" />
                        </div>
                    </div>
                    <input id="Hidden1" type="hidden" name="code" value="@ViewBag.code" />
                </div>
                <div class="modal-footer">
                    <input type="submit" value="新增" class="btn text-white d-bg-blue Submit" />

                </div>

            </div>

        </div>


    </div>

}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/stars.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

