@model DeWay.Models.Member

@{
    ViewBag.Title = "mbrEdit";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<h2 class="offset-3">修改個人資料</h2>


@using (Html.BeginForm("mbrEdit","MemberHome",FormMethod.Post,new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal offset-3">
 
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.mbrID)

    <div class="form-group">
        @Html.LabelFor(model => model.mbrName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mbrName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mbrName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nickName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nickName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nickName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.mbrPhone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mbrPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mbrPhone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.mbrMail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mbrMail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mbrMail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.birthDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.birthDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.birthDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">

        @Html.HiddenFor(model => model.mbrImage)
        <div>
            @if (Model.mbrImage == null || Model.mbrImage == "")
            {
                <a href="~/mbrPhoto/0.jpg"><img src="~/mbrPhoto/0.jpg" class="ml-3 img-adjust-index" /></a>
            }
            else
            {
                <a href="~/mbrPhoto/@Model.mbrImage"><img src="~/mbrPhoto/@Model.mbrImage" class="ml-3 img-adjust-index" /></a>

            }
        </div>
        <div>
            <input id="File1" type="file" name="Image" class="btn btn-defaut ml-3 " />
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="更改資料" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div class="offset-3 mb-5">
    @Html.ActionLink("編輯密碼", "pwdEdit", new { id = Model.mbrID })　|
   
    @Html.ActionLink("返回個人資料", "mbrIndex")

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
