@model IEnumerable<DeWay.Models.Cart_OrderDetail>

@{
    ViewBag.Title = "odrDetail";
    decimal? total = 0;
    decimal? shipping = 0;
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}



   
        <div class="">
            @Html.DisplayFor(model => model.FirstOrDefault().Specification.Product.Seller.selCompany)
            @Html.DisplayFor(model => model.FirstOrDefault().Order.odrDate)
            @*@Html.DisplayFor(model => model.FirstOrDefault().Cart_OrderDetail.FirstOrDefault().)*@

        </div>
        <div>
            @Html.DisplayFor(model => model.FirstOrDefault().Order.OrderStatus.odrStatus)
        </div>
        <br />
       
            <div>

                @Html.Action("_rvwIndex", new { code = 2, odr = Model.FirstOrDefault().odrID })
            </div>
       
        
        <br />

        <div class="card">
            <div class="card-header">
                <h3>訂單內容</h3>
            </div>
            <div class="card-body">

                @foreach (var item in Model)
                {
                    var subtotal = item.pdtPrice * (int)item.Discount/ 10 * item.Quantity;

                    total += subtotal;
                    shipping = item.Order.shpPrice;
                    <div class="row">
                        <div class="col-6">
                            @Html.DisplayFor(modelItem => item.Specification.Style)
                            @Html.DisplayFor(modelItem => item.Specification.Size)
                        </div>
                        <div class="col-3">
                            ×@Html.DisplayFor(modelItem => item.Quantity)
                        </div>
                        <div class="col3">
                            NT$ @subtotal
                        </div>
                    </div>




                }
                <hr />
                @{
                    total = (total + shipping);
                }

                <div>
                    <p class="text-right">運費： @shipping </p>
                    <p class="text-right">總計： @total</p>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <h3>收件人資訊</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <p class="col-4 text-right">收件人</p>
                    <p class="col-8"> @Html.DisplayFor(model => model.FirstOrDefault().Order.recName)</p>
                </div>
                <div class="row">
                    <p class="col-4 text-right">地址</p>
                    <p class="col-8">
                        @Html.DisplayFor(model => model.FirstOrDefault().Order.recCity)
                        @Html.DisplayFor(model => model.FirstOrDefault().Order.recDist)
                        @Html.DisplayFor(model => model.FirstOrDefault().Order.recAddress)
                    </p>
                </div>
                <div class="row">
                    <p class="col-4 text-right">電話</p>
                    <p class="col-8"> @Html.DisplayFor(model => model.FirstOrDefault().Order.recPhone)</p>
                </div>
                <div class="row">
                    <p class="col-4 text-right">運送方式</p>
                    <p class="col-8"> @Html.DisplayFor(model => model.FirstOrDefault().Shipper.shpMethod)</p>
                </div>
                <div class="row">
                    <p class="col-4 text-right">付款方式</p>
                    <p class="col-8"> @Html.DisplayFor(model => model.FirstOrDefault().Order.PaymentMethod.pmtMethod)</p>
                </div>
            </div>
        </div>




@section Script
{
    <script src="~/Scripts/stars.js"></script>



    <script>
          $(`.givestars`).stars();
        function getStar(starCount) {
            var starsArray = ["☆", "☆", "☆", "☆", "☆"];
            var result = "";
            for (var i = 0; i < starCount; i++) {
                starsArray.unshift("★");
            }
            for (var i = 0; i < 5; i++) {
                result += starsArray[i];
            }
            var result = `<span style=" font-size: 30px;color:#E4AD22">${result}</span>`

            return result
        }

        $(`.star`).each((index, element) => {
            $(element).html(
                getStar($(element).attr("Stars"))
            )
        })

        $(`.Button`).on("click", function () {

            let odrid = $(this).next().val();

            $(`input.odrID`).attr("value", odrid);
          

        });

        $(`.Submit`).on("click", function () {

            let starcount = $(`.givestars>i.selected`).length;
            $(`input.rvwStar`).attr("value", starcount);
        })
    </script>


}


@*@{
        ViewBag.Title = "odrDetail";
    }

    <h2>odrDetail</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usedPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pdtPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member.mbrName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipper.shpMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specification.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.pmtID)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usedPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdtPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.mbrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipper.shpMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.pmtID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.cartID }) |
                @Html.ActionLink("Details", "Details", new { id=item.cartID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.cartID })
            </td>
        </tr>
    }

    </table>*@
