@model IEnumerable<DeWay.Models.Order>

@{
    ViewBag.Title = "odrIndex";
}

<h2>odrIndex</h2>


@if (Model.Count() == 0)
{
    <h3>@ViewBag.odrStatus</h3>
}
else
{
}


<div class="row">
    <div class="col-3">
        <ul class="nav flex-column dropdown">
            個人資訊

            <li class="nav-item">@Html.ActionLink("修改個人基本資料", "mbrEdit", "MemberHome", new { id = Session["memberID"] }, new { @class = "nav-link text-black" })</li>
            <li class="nav-item">@Html.ActionLink("變更密碼", "pwdEdit", "MemberHome", new { id = Session["memberID"] }, new { @class = "nav-link text-black " })</li>
            <li class="nav-item">@Html.ActionLink("會員聯絡資訊驗證", "mbrEdit", "MemberHome", new { id = Session["memberID"] }, new { @class = "nav-link text-black" })</li>

        </ul>
        <ul class="nav nav-pills flex-column">
            訂單
            <li class="nav-item"><a href="#" class="nav-link">檢視訂單</a></li>
            <li class="nav-item"><a href="#">申請退貨</a></li>
        </ul>
        <ul class="nav flex-column">
            評價
            <li class="nav-item">@Html.ActionLink("檢視評價", "rvwIndex", "MemberHome", new { }, new { @class = "nav-link text-black" })</li>
        </ul>
        <ul class="nav nav-pills flex-column">
            問與答
            <li class="nav-item">@Html.ActionLink("檢視問與答", "QAIndex", "MemberHome", new { code = 0 }, new { @class = "nav-link  text-black" })</li>
        </ul>


    </div>

    <div class="col-9">
        <div>
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item"><a href="@Url.Action("odrIndex","MemberHome",new {odrStatus="未付款"})" class="nav-link active">未付款</a></li>
                <li class="nav-item"><a href="@Url.Action("odrIndex","MemberHome",new {odrStatus="處理中"})" class="nav-link">處理中</a></li>
                <li class="nav-item"><a href="@Url.Action("odrIndex","MemberHome",new {odrStatus="運送中"})" class="nav-link">運送中</a></li>
                <li class="nav-item"><a href="@Url.Action("odrIndex","MemberHome",new {odrStatus="待取貨"})" class="nav-link">待取貨</a></li>
                <li class="nav-item"><a href="@Url.Action("odrIndex","MemberHome",new {odrStatus="已完成"})" class="nav-link">已完成</a></li>
                <li class="nav-item"><a href="@Url.Action("odrIndex","MemberHome",new {odrStatus="糾紛中"})" class="nav-link">糾紛中</a></li>
                <li class="nav-item"><a href="@Url.Action("odrIndex","MemberHome",new {odrStatus="已取消"})" class="nav-link">已取消</a></li>
            </ul>

        </div>

        <div class="tab-content mt-2">

            @if (Model.Count() == 0)
            {
                <h3>@ViewBag.odrStatus</h3>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="card">
                        <div class="card-header">
                            @Html.DisplayFor(modelItem => item.odrDate)
                            @Html.DisplayFor(modelItem => item.Cart_OrderDetail.FirstOrDefault().Specification.Product.Seller.selCompany)
                        </div>
                        <div class="card-body">
                            <div class="col-6">
                                <div>
                                    <span>狀態</span>　@Html.DisplayFor(modelItem => item.OrderStatus.odrStatus)
                                </div>
                               
                                <div>
                                    <span>寄往</span>　@Html.DisplayFor(modelItem => item.recCity)
</div>
                                
                                <div>
                                    <span>付款方式</span>　@Html.DisplayFor(modelItem => item.PaymentMethod.pmtMethod)
</div>
                                
                                <div>
                                    <span>訂單總計</span>　@Html.DisplayFor(modelItem =>item.totalPrice)
</div>

                            </div>
                            <div class="col-6">
                                @if (item.odrNote != null)
                                {
                                    
                                    <div>
                                        <span>備註</span>　@Html.DisplayFor(modelItem => item.odrNote)
</div>
                                }
                                
                                <div>
                                    <span>購買項目</span>　<img src="~/images/@Html.Action("getImage", new { id = item.odrID})" style="width:100px" class="img-responsive img-rounded" />
</div>
                            </div>

                        </div>
                    </div>

                }
            }


        </div>


    </div>

</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.recName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recDist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pmtDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.odrDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.odrNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.traceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cashFlowID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus.odrStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod.pmtMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller.selCompany)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.recName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recDist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pmtDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.odrDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.odrNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.traceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cashFlowID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus.odrStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod.pmtMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.selCompany)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.odrID }) |
                @Html.ActionLink("Details", "Details", new { id = item.odrID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.odrID })
            </td>
        </tr>
    }

</table>
