@model IEnumerable<DeWay.Models.QA>

@{
    ViewBag.Title = "QAIndex";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<h2>我的問答區</h2>



<div class="mb-3">
    <ul class="nav nav-fill nav-bg">
        <li class="nav-item d-nav d-active"><a href="@Url.Action("QAIndex","MemberHome",new {code=0})" class="nav-link o-li">全部的問題</a></li>
        <li class="nav-item d-nav"><a href="@Url.Action("QAIndex","MemberHome",new {code=1})" class="nav-link o-li">未回覆的問題</a></li>
        <li class="nav-item d-nav"><a href="@Url.Action("QAIndex","MemberHome",new {code=2})" class="nav-link o-li">已回覆的問題</a></li>

    </ul>

</div>

<div class="col-12 mb-5">
    @foreach (var item in Model)
    {

        <a href="@Url.Action("ProductPage","Productpage",new { pdtID=item.pdtID})">
            <div class="card ">
                <div class="card-header row">
                    <div>
                        @Html.DisplayFor(modelItem => item.Product.Seller.selCompany)
                        
                        @Html.DisplayFor(modelItem => item.Product.pdtName)
                    </div>
                    <div class="offset-7">
                        @Html.DisplayFor(modelItem => item.qaTime)
                    </div>
                </div>
                <div class="card-body row">
                    
                    <div class="col-3 mr-3">
                        @if (Model.FirstOrDefault().Product.ProductImage.FirstOrDefault().pdtImage == null || Model.FirstOrDefault().Product.ProductImage.FirstOrDefault().pdtImage == "")
                        {
                            <img src="~/productImage/0.jpg" class="img-responsive img-rounded img-adjust-index" />
                        }
                        else
                        {
                            @*<img src="~/productImage/@Model.FirstOrDefault().Product.ProductImage.FirstOrDefault().pdtImage" class="img-responsive img-rounded img-adjust-index" />*@
                            <img src="~/productImage/@item.Product.ProductImage.FirstOrDefault().pdtImage" class="img-responsive img-rounded img-adjust-index" />

                        }
                    </div>
                    <div class="col-8 mt-1">
                        <div class="row">
                            <p class="col-4">@ViewBag.MemberName 發問：</p>
                            <div class="col-8">@Html.Raw(@Html.DisplayFor(modelItem => item.Question).ToString().Replace("\n", "<br>"))</div>
                        </div>
                        @if (item.Answer != null && item.Answer != "")
                        {
                            <hr />
                            <div class="row">
                                <p class="col-4">@Html.DisplayFor(modelItem => item.Product.Seller.selCompany) 回答：</p>
                                <div class="col-8"> @Html.Raw(@Html.DisplayFor(modelItem => item.Answer).ToString().Replace("\n", "<br>"))</div>
                            </div>
                        }
                    </div>
                   
                </div>
            </div>
        </a>


    }
</div>

@section Script
    {
    <script>

        $('.o-li').each(function () {
            if ($($(this))[0].href == String(window.location)) {
                $('ul>li:first-child').removeClass("d-active");
                $('.o-li').removeClass("d-active");
                $(this).addClass('d-active');
            }
        });

        ADD();
        function ADD() {
            if (String(window.location) == $('m-li').href) {
                $('ul>li:first-child').addClass("d-active");
            };
        }
    </script>

}