@model IEnumerable<DeWay.Models.QA>

@{
    ViewBag.Title = "QAIndex";
}

<h2>我的問答區</h2>

@section CSS
    {
    <style>
.a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

.a:hover {
  color: inherit;
  text-decoration: none;
}

    </style>
    }
@Html.Action("_rvwIndex",new { code=0})

<div class="container">
    @foreach (var item in Model)
    {
        <a  href="@Url.Action("ProductPage","Productpage",new { pdtID=item.pdtID})" class="a">
            <div class="card">
                <div class="card-header">
                    @Html.DisplayFor(modelItem => item.Product.Seller.selCompany)
                    @Html.DisplayFor(modelItem => item.Product.ProductImage.FirstOrDefault().pdtImage)
                    @Html.DisplayFor(modelItem => item.Product.pdtName)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(modelItem => item.qaTime)
                    <div>

                        @ViewBag.MemberName 發問: @Html.DisplayFor(modelItem => item.Question)

                    </div>
                    @if(item.Answer!=null&&item.Answer!="")
                    {
                        <hr />
                        <div>
                            @Html.DisplayFor(modelItem => item.Product.Seller.selCompany) 回答：@Html.DisplayFor(modelItem => item.Answer)
                        </div>
                    }
                </div>
            </div>
        </a>

        <br />
    }
</div>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Seller.selCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductImage.FirstOrDefault().pdtImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.pdtName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qaTime)
            </th>
            <th>
             會員:
            </th>


            <th></th>
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Seller.selCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductImage.FirstOrDefault().pdtImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.pdtName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qaTime)
        </td>
        <td>   @ViewBag.MemberName</td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.qaID }) |
            @Html.ActionLink("Details", "Details", new { id = item.qaID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.qaID })
        </td>
    </tr>
    }

    </table>*@
