@model IEnumerable<DeWay.Models.Cart_OrderDetail>

@{
    ViewBag.Title = "rfdCreate";
    decimal? total = 0;
    decimal? shipping = 0;
    double Total = 0;
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<h2>填寫退貨單</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal mb-5">
        <input id="Hidden1" type="hidden" value="@Model.FirstOrDefault().odrID" name="odrID" />
        <div class="card ">
            <div>
                <input id="Checkbox1" type="checkbox" /> 選擇此訂單
            </div>
            <div class="card-body">
                <div class="row bg-light font-weight-bold mb-3">
                    <div class="col-3">商品</div>
                    <div class="col-3">規格</div>
                    <div class="col-3">數量</div>
                    <div class="col-3">小計</div>

                </div>

                @foreach (var item in Model)
                {
                    var subtotal = (decimal)((int)item.pdtPrice * item.Discount * item.Quantity);
                    subtotal = Math.Round(subtotal);
                    total += subtotal;
                    shipping =(decimal) Math.Round((double)item.Order.shpPrice);
                    <div class="row align-items-baseline">
                        <div class="col-3">
                            <a href="@Url.Action("ProductPage","Productpage",new { pdtID=item.Specification.pdtID})">
                                <img src="~/productImage/@item.Specification.Product.ProductImage.FirstOrDefault().pdtImage" class="img-responsive img-rounded img-adjust" />
                            </a>
                            @*@item.Specification.Product.pdtName*@
                            @Html.DisplayFor(modelItem => item.Specification.Product.pdtName)
                        </div>
                        <div class="col-3">
                            @*@item.Specification.Style
                            @item.Specification.Size*@
                            @Html.DisplayFor(modelItem => item.Specification.Style)
                            @Html.DisplayFor(modelItem => item.Specification.Size)
                        </div>
                        <div class="col-3">
                            @*@item.Quantity*@
                            ×@Html.DisplayFor(modelItem => item.Quantity)
                        </div>
                        <div class="col3">
                            NT$ @subtotal
                        </div>
                    </div>

                    <br />


                }
                <hr />
                @{
                    Total = Math.Round((double)(total + shipping));
                }

                <div>
                    <p class=" col-10 text-right">運費： @shipping </p>

                    <p class="total col-10 text-right text-danger  d-none" id="total">總退款金額：@Total</p>
                </div>

                <br />
                <br />

                <div class="rfdbutton d-none">


                    <h6 class="col-2  text-right">退貨原因</h6>
                    <textarea name="rfdReason" class="text-box col-10 offset-1" onKeyDown="LimitTextArea(this)" onKeyUp="LimitTextArea(this)" onkeypress="LimitTextArea(this)"></textarea> 




                    <p class="mt-3 d-text-color">收款資訊填寫</p>

                    <div class=" col-md-10  offset-1">
                        <label>銀行代碼 </label>
                        @Html.EditorFor(model => model.FirstOrDefault().Order.Refund.FirstOrDefault().RefundAccount.bankCode, new { htmlAttributes = new { } })
                        @Html.ValidationMessageFor(model => model.FirstOrDefault().Order.Refund.FirstOrDefault().RefundAccount.bankCode, "", new { @class = "text-danger" })
                      
                        <br />
                        <label>銀行名稱 </label>
                        @Html.EditorFor(model => model.FirstOrDefault().Order.Refund.FirstOrDefault().RefundAccount.bankName, new { htmlAttributes = new { } })
                        @Html.ValidationMessageFor(model => model.FirstOrDefault().Order.Refund.FirstOrDefault().RefundAccount.bankName, "", new { @class = "text-danger" })
                        
                        <br />
                        <label>銀行帳號 </label>
                       
                        @Html.EditorFor(model => model.FirstOrDefault().Order.Refund.FirstOrDefault().RefundAccount.bankAccount, new { htmlAttributes = new { } })
                        @Html.ValidationMessageFor(model => model.FirstOrDefault().Order.Refund.FirstOrDefault().RefundAccount.bankAccount, "", new { @class = "text-danger" })


                    </div>



                    <div class="Checkbox2">
                        <input id="Checkbox2" type="checkbox" value="false" name="rfdProduct" /> 需退回商品<br />

                    </div>
                    <div class="Checkbox3 d-none">
                        <input id="Checkbox3" type="checkbox" value="false" name="rfdShipping" /> 賣家需負擔退回商品的運費

                        <input class="d-none rfdShip col-1" type="text" name="rfdShip" />
                    </div>
                </div>
            </div>



        </div>




        <input id="Submit1" type="submit" value="送出申請" class="btn btn-info mt-2" />
    </div>
}

@section Script{
    <script>



        $('#Checkbox1').on("click", function () {

            $('.card-body').toggleClass("border border-deway ");
            $('.rfdbutton').toggleClass("d-none");
            $('.total').toggleClass("d-none");
          


        }
        );
     
        $('#Checkbox2').on("click", function () {


            if ($("#Checkbox2").val() == "true") {
                $(this).val("false");
              
            }
            else {
                $(this).val("true");
            }
            $('.Checkbox3').toggleClass("d-none");
        });

        function alterValue() {

            let rfdship;
            if ($(".rfdShip").val() != "") {
                rfdship = parseInt($(".rfdShip").val());
            }
            else {
                rfdship = 0;
            };

            console.log(rfdship);
            $(".total").text("總退款金額："+(@Total+rfdship));
        };

        $('#Checkbox3').on("click", function () {

            if ($("#Checkbox3").val() == "true") {
                $(this).val("false");
                $('.rfdShip').val("") ;


                alterValue();

            }
            else {
                $(this).val("true");
            }
            $('.rfdShip').toggleClass("d-none");
        });



        $(".rfdShip").on("change",alterValue);


    </script>
    <script>

        function LimitTextArea(field) {
            let maxlimit = 120;
            if (field.value.length > maxlimit)
                field.value = field.value.substring(0, maxlimit);
        }



    </script>
}
