@model IEnumerable<DeWay.Models.Product>

@{
    ViewBag.Title = "sellproduct";
}
    <div class="container">
        <h2>賣場商品編輯</h2>

        
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.pdtName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pdtDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pdtDescribe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discontinued)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCategory.fstLayerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seller.selCompany)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.pdtName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pdtDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pdtDescribe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discontinued)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCategory.fstLayerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seller.selCompany)
                    </td>
                    <td>
                        @Html.ActionLink("編輯產品資料", "Edit", new { id = item.pdtID }) |
                        @Html.ActionLink("更改規格", "Editsp", new { pdtid = item.pdtID })
                    </td>
                </tr>
            }

        </table>
    </div>