@model IEnumerable<DeWay.Models.ntfRecord>

@{
    ViewBag.Title = "IndexForMember";
}

    <div class="col-10 offset-1" style="margin-top:200px;">
        <h2>通知中心</h2>

        @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ntfContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ntfTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ntfTime)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Member.mbrName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ntfCategory.ntfType)
                </th>
                <th></th>*@
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ntfContent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ntfTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ntfTime)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Member.mbrName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ntfCategory.ntfType)
                    </td>*@
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id=item.ntfID }) |*@
                        @Html.ActionLink("Details", "Details", new { id = item.ntfID }) |
                        @*@Html.ActionLink("Delete", "Delete", new { id=item.ntfID })*@
                    </td>
                </tr>
            }

        </table>

    </div>
